@import 'mixins';
@import 'color-palette';
.aptitude-block {
    margin: 10px;
    .aptitude-collection {
        width: 640px;
        display: flex;
        &:after {
            clear: both;
            content: "";
            display: table;
        }
        .aptitude-element {
            width: 60px;
            .aptitude-name {
                .aptitude-shorthand {
                    text-align: center;
                    padding-top: 8px;
                    text-transform: uppercase;
                    @include bordered-table($aptitudeTableBorder, $aptitudeNameBackground, $aptitudeNameBackground, 59px, 30px);
                }
                .aptitude-fullname {
                    display: none;
                    text-align: center;
                }
            }
        }
        &:nth-child(odd) {
            .line-prefix {
                @include bordered-table($aptitudeValueBorder, $aptitudeValueBackground, $aptitudeValueFocus, 130px, 30px);
                &.blank {
                    background-color: $aptitudeValueOffset;
                }
            }
            .aptitude-element {
                .aptitude-value {
                    @include bordered-table($aptitudeValueBorder, $aptitudeValueBackground, $aptitudeValueFocus, 59px, 30px);
                }
            }
        }
        &:nth-child(even) {
            .line-prefix {
                @include bordered-table($aptitudeValueBorder, $aptitudeValueOffsetBackground, $aptitudeValueOffsetFocus, 130px, 30px);
                &.blank {
                    background-color: $aptitudeValueOffset;
                }
            }
            .aptitude-element {
                .aptitude-value {
                    @include bordered-table($aptitudeValueBorder, $aptitudeValueOffsetBackground, $aptitudeValueOffsetFocus, 59px, 30px);
                }
            }
        }
    }
}