.background-selection {
    max-width: 900px;
    margin: 25px 5%;
    display:flex;
    flex-direction: column;
    #background-selector {
        font-weight: bold;
        border: none;
        text-align-last:center;
        .hidden-select {
            display: none;
        }
        &:focus,
        &:active{
            border:none;
            outline-color: $aptitudeTableBorder;
            option{
                text-align:center;
                border:none;
            }
        }
        
    }
    .background-help{
        text-align:center;
        margin: 20px 0;
    }

    .background-choice {
        .background-name {
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            &:focus{
                border:none;
            }
        }
        .background-description {
            margin: 10px 15%;
        }
        .background-skills {
            display: flex;
            flex-direction: column;
            align-items: left;
            .background-skill {
                width: 100%;
                display: flex;
                flex-direction: row;
                &:nth-child(odd) {
                    .skill {
                        @include bordered-table($skillListBorder, $skillListBackground, $skillListFocus, 100%, 30px);
                        &.identity {
                            text-align: left;
                            background-color: $skillListBackground;
                            &:focus,
                            &:hover,
                            &:active {
                                background-color: $skillListFocus;
                                border: 1px solid $skillListBorder;
                            }
                        }
                    }
                }
                &:nth-child(even) {
                    .skill {
                        @include bordered-table($skillListBorder, $skillListOffset, $skillListFocus, 100%, 30px);
                        &.identity {
                            .field {
                                width: 65%;
                                border: none;
                                background-color: $skillListOffset;
                                &:focus,
                                &:hover,
                                &:active {
                                    background-color: $skillListFocus;
                                    border: 1px solid $skillListBorder;
                                }
                            }
                        }
                    }
                }
                .skill.header {
                    @include bordered-table($aptitudeTableBorder, $aptitudeNameBackground, $aptitudeNameBackground, 100%, 30px);
                    font-weight: bold;
                }
                .skill.identity {
                    text-align-last:center;
                    .name {
                        width: 35%;
                    }
                }
            }
        }
    }
}