$aptitudeNameBackground: #4b8cbe;
$aptitudeTableBorder: #ffffff;
$aptitudeValueBorder: #ffffff;
$aptitudeValueBackground: #eee;
$aptitudeValueFocus: #ddd;
$aptitudeValueOffsetBackground:#bbb;
$aptitudeValueOffsetFocus: #aaa;
$aptitudeBlankBoxBackground:#fff;

$buttonBackground: #4b8cbe;
$buttonFocus: #4b8ccf;
$buttonInactiveColor: #7896ad;
$buttonText: #000;

$skillListBackground: #eee;
$skillListOffset: #ddd;
$skillListFocus: #ccc;
$skillListBorder: #fff; 

$footerBackground: #353238;
$footerText: #F7ECE1;