$aptitudeNameBackground: #F12;
$aptitudeTableBorder: #ccc;

$aptitudeValueBorder: #999;
$aptitudeValueBackground: #ccc;
$aptitudeValueFocus: #bbb;
$aptitudeValueOffsetBackground:#fff;
$aptitudeValueOffsetFocus: #eee;