.background-selection,
.career-selection,
.interest-selection {
    min-width: 900px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    #choice-selector {
        font-weight: bold;
        text-align-last: center;
        .hidden-select {
            display: none;
        }
        &:focus,
        &:active {
            outline-color: $aptitudeTableBorder;
            option {
                text-align: center;
            }
        }
    }
    div {
        .help {
            text-align: center;
            margin: 20px 0;
        }
        .choice {
            .description{
                margin: 10px 15%;
            }
            .skills {
                display: flex;
                flex-direction: column;
                align-items: left;
                .skill-container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    &:nth-child(odd) {
                        .skill {
                            @include bordered-table($skillListBorder, $skillListBackground, $skillListFocus, 100%, 30px);
                            &.identity {
                                text-align: left;
                                background-color: $skillListBackground;
                                &:focus,
                                &:hover,
                                &:active {
                                    background-color: $skillListFocus;
                                    border: 1px solid $skillListBorder;
                                }
                            }
                        }
                    }
                    &:nth-child(even) {
                        .skill {
                            @include bordered-table($skillListBorder, $skillListOffset, $skillListFocus, 100%, 30px);
                            &.identity {
                                .field {
                                    width: 65%;
                                    border: none;
                                    background-color: $skillListOffset;
                                    &:focus,
                                    &:hover,
                                    &:active {
                                        background-color: $skillListFocus;
                                        border: 1px solid $skillListBorder;
                                    }
                                }
                            }
                        }
                    }
                    .skill.header {
                        @include bordered-table($aptitudeTableBorder, $aptitudeNameBackground, $aptitudeNameBackground, 100%, 30px);
                        font-weight: bold;
                    }
                    .skill.identity {
                        text-align-last: center;
                        .name {
                            width: 35%;
                        }
                    }
                }
            }
        }
    }
}