@mixin bordered-table($borderColor, $backGroundColor, $focusColor, $width, $height) {
    border: 1px solid $borderColor;
    background-color: $backGroundColor;
    line-height: 34px;
    height: $height;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: $width;
    &:focus {
        outline: none;
        background-color:$focusColor;
    }
}